.resume-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)), url(/assets/Images/Controller2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .pdf-container {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Use a percentage width for responsiveness. Adjust this value as needed. */
    height: 80vh; /* Takes up 80% of the screen height. Adjust this value as needed. */
    overflow: auto;
  }

  
  .pdf-viewer {
    width: 50%; /* Makes the PDF viewer fill its container's width */
    height: 90%; /* Makes the PDF viewer fill its container's height */
    object-fit: contain; /* Scales content to fit within dimensions, preserving aspect ratio */
    border: none;
}