<footer class="Home-footer">
    <div class="footer d-flex flex-column align-items-center justify-content-center text-center">
        <div class="links d-flex justify-content-center">
            <a href="https://www.facebook.com/quentin.davis.75286/" class="fa fa-facebook mx-2 link-color"></a>
            <a href="https://twitter.com/MahouSensei2" class="fa fa-twitter mx-2 link-color"></a>
            <a href="https://www.linkedin.com/in/quentin-davis-1663a2140" class="fa fa-linkedin mx-2 link-color"></a>
            <a href="https://github.com/MahouSenseii" class="fa fa-github mx-2 link-color"></a>
        </div>
        <p class="mt-2 text-light">Made by Quentin F. Davis</p>
    </div>
</footer>
