<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active bg-1">
      <div class="carousel-caption">
        <h5><span class = "text-warning">First Five</span></h5>
        <span><span class = "text-warning"> Team:</span> Solo Developer,</span>
        <span><span class = "text-warning"> Engine:</span> Pixi.js,</span>
        <span><span class = "text-warning"> Tenure:</span> Jan - 2017 - Nov 2017,</span>
        <span><span class = "text-warning"> Genre:</span> Dating Sim,</span>
        <span><span class = "text-warning"> Platform:</span> Web Browser</span>
        <p>Introducing First Five, a passion project that showcases the fundamentals of a dating sim game. Developed from scratch,
           this game allows players to dive into various levels, while interacting with the main heroine, Karen. As the developer, 
           I designed and developed every aspect of this game to showcase the immersive experience that players engage in while 
           playing a dating sim game.</p>
        <a href ="/firstFive" class = "bg-warning text-white">Learn More</a>
      </div>
    </div>
    <div class="carousel-item bg-2">
      <div class="carousel-caption">
        <h5><span class = "text-warning"> Portfolio</span></h5>
        <span><span class = "text-warning"> Team:</span> Solo Developer,</span>
        <span><span class = "text-warning"> Engine:</span>Visual Studio Code,</span>
        <span><span class = "text-warning"> Tenure:</span> Feb 2023- March 2023,</span>
        <span><span class = "text-warning"> Genre:</span> Website,</span>
        <span><span class = "text-warning"> Platform:</span>Web Browser</span>
        <p>Built a responsive website using HTML, CSS, and JavaScript that allows users to easily browse  online. Implemented a 
          user-friendly interface that features intuitive navigation.Included a interactive 3D rotation to showcase multiply projects 
          that I've work on.</p>
        <a href ="/portfolio" class = "bg-warning text-white">Learn More</a>
      </div>
    </div>
    <div class="carousel-item bg-3">
      <div class="carousel-caption ">
        <h5><span class = "text-warning">Project Hunter</span></h5>
        <span><span class = "text-warning"> Team:</span>Solo Developer,</span>
        <span><span class = "text-warning"> Engine:</span>Unreal Engine,</span>
        <span><span class = "text-warning"> Tenure:</span> Jan - 2022 - Present,</span>
        <span><span class = "text-warning"> Genre:</span> ARPG,</span>
        <span><span class = "text-warning"> Platform:</span>PC/Console</span>
        <p>Project Hunter is an exciting in-development game that I have been working on,
           which combines seamless ARPG features with innovative game mechanics.</p>
        <a href ="/projectHunter" class = "bg-warning text-white">Learn More</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" > 
    <img src = "/assets/Images/FirstFive.png" alt="" class="d-block w-100 img-fluid"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">
      <img src = "/assets/Images/Website.png" alt="" class="d-block w-100 img-fluid">
    </button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">
      <img src = "/assets/Images/Interaction.png" alt="" class="d-block w-100 img-fluid">
    </button>
  </div>

</div>