.navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    height: 70px;
    transition: background 0.3s, height 0.3s;
}

.navbar-brand
{
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Playfair Display', serif;
    color: darkgoldenrod;
}

.navbar-toggle-icon
{
    display: inline-flex;

}

.nav-item {
    font-size: 20px;
    margin-right: 20px;
}
.navbar-nav .nav-item .nav-link {
    transition: text-shadow 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: darkgoldenrod;
    text-shadow: 0 0 10px darkgoldenrod, 0 0 20px darkgoldenrod, 0 0 30px darkgoldenrod, 0 0 40px darkgoldenrod;
}
.active-link {
    color: darkgoldenrod;
    text-shadow: 0 0 10px darkgoldenrod, 0 0 20px darkgoldenrod, 0 0 30px darkgoldenrod, 0 0 40px darkgoldenrod;
}

.navbar-toggler 
{
position: fixed;
 right:  12px;

}
.navbar-collapse.show {
    background-color: black;
}

.navbar.bg-black {
    background-color: rgba(0, 0, 0, 0.9) !important;
    height: 60px;
}

@media screen and (max-width: 768px) {
    .navbar{
        height: 85px;
    }
}